/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;/* 16px */
    vertical-align: baseline;
    background: transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display: block;
}

/* general elements */

body {
    line-height: 1;
}
ol,
ul {
    display: block;
    list-style-type: disc;
    margin: 0 0 0 20px;
}
dt {
    margin-top: 12px;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
:focus {
    outline: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
li {
    display: list-item;
}
.hidden {
    display: none;
}
p {
    line-height: 1.5em;
    margin-bottom: 8px;
}
html,
body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #5b595d;
    position: relative;
    font: 16px/24px "Lucida Grande",Lucida,Verdana,sans-serif;
}
a {
    color: #f58c1b;
    text-decoration: none;
}
a:hover {
    color: #7f4a12;
    text-decoration: underline;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    font-family: "Adobe Garamond Pro","Lucida Grande",Lucida,Verdana,sans-serif;
    font-weight: normal;
    color: #199EEA;
    font-style: normal;
    font-weight: bold;
}

h1 {
    font-size: 1.75em;
    line-height: 1.7em;
    font-family: Helvetica, Verdana;
}
h2 {
    font-size: 1.5em;
    line-height: 1.7em;
    font-family: Helvetica, Verdana;
}
h3 {
    font-size: 1.25em;
    line-height: 1.7em;
    font-family: Helvetica, Verdana;
}
h4 {
    font-size: 1em;
    line-height: 1.7em;
    font-family: Helvetica, Verdana;
}
.discreet {
    color: #666666;
    font-size: 12px;
}
form {
    border-style: none;
}
fieldset {
    border-style: none;
}
input {
    color: #222;
    border: 1px solid #ccc;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
}
input[type=text],
input[type=password] {
    width: 205px;
}
input[type=submit] {
    background-color: #ddd;
    font-weight: bold;
}
nav {
    float: right;
}
nav li {
    list-style: none none;
    border: 1px solid #dddddd;
    margin: 5px 5px 0 0;
    text-align: center;
}
nav li a {
    display: block;
    background-color: #eeeeee;
    padding: 5px 10px;
}
nav li a:hover {
    background-color: #ffffff;
    text-decoration: none;
}

.usermenu {
    float: right;
}

/* main wrapper */
#wrap {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #ffffff;
    min-height: 100%;
}
header {
    color:#000000;
    border-bottom: 2px solid #dddddd;
    padding-top: 5px;
    margin-bottom: 20px;
    position:relative;
}
footer {
    width: 100%;
    color: #ffffff;
    height: 40px;
    position: absolute;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
    font-size: 12px;
    vertical-align: middle;
}
footer {
    bottom: 0;
    background: #000000 url(footerbg.png) repeat-x 0 top;
    position: relative;
    clear: both;
}
.wrapper {
    width: 100%;
}
#bottom {
    width: 100%;
    padding-bottom: 16px;
    color: #222;
    background-color: #ffffff;
}
#left {
    width: 350px;
    float: left;
    padding-right: 25px;
}
#right {
    width: 350px;
    float: right;
    padding-left: 25px;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
ul.links {
    margin: 0;
    padding: 0;
}
ul.links li {
    list-style-type: none;
    font-size: 14px;
}
/*Opera Fix*/
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

/* forms */
#vote-form .deformMappingFieldset legend,
#vote-form .deformClosebutton,
#vote-form a.deformSeqAdd {
    display: none !important;
}
#vote-form .deform label.desc {
    float: left;
}
.deform li {
    margin: 0 !important;
    padding: 7px !important;
}
#vote-form .deformSeq > ul {
    clear: both;
}
#vote-form .deformSeq > ul > li { 
    clear: both;
}
#vote-form #item-deformField14 {
    width: 450px;
}
#vote-form .deformMappingFieldset .description {
    float: right;
    width: 350px;
}
.deformMappingFieldset {
    background-color: #eeeeee;
}
.deformMappingFieldset ul::after {
    content: '';
    height: 0;
    clear: both;
    display: block;
}
.deformMappingFieldset p {
    padding: 10px 0 0 5px;
}
.deformMappingFieldset .teamTitle {
    font-size: 18px;
    color: #f07817;
    font-weight: bold;
}
.deformMappingFieldset .teamDescription {
    color: #666666;
    font-size: 12px;
    /* this is wrong... */
    margin-top: -25px;
}
.deform ul.deformSet {
    margin-left: 200px;
}
.deform ul.deformSet li {
    display: inline;
    margin: 0;
}
#item-deformField3 .deformSet {
    margin: 0;
}
#item-deformField3 .deformSet li {
    white-space: nowrap;
}
fieldset.disable {
    opacity: 0.6;
}
#deformsubmit {
    background: #f07817;
    padding: 5px 10px;
    color: #eeeeee;
    border: 1px solid #333333;
    font-size: 20px;
}
.novote {
    color: #8d2323;
    margin-left: 5px;
    font-size: 20px;
}

/* teams */
#teams-list dt {
    font-size: 20px;
    color: #000000;
    margin-top: 20px;
}
#teams-list dd {
    width: 600px;
}
#teams-list .members p {
    font-size: 13px;
}

/* results */
#results {
    min-width: 600px;
    border-top: 2px solid #cccccc;
}
#results th {
    text-align: left;
    padding: 15px;
}
#results td {
    padding: 15px;
}
#results .row-1 {
    font-size: 36px;
    line-height: 36px;
    background-color: #cccccc;
}
#results .row-2 {
    font-size: 30px;
    line-height: 30px;
    background-color: #dddddd;
}
#results .row-3 {
    font-size: 24px;
    line-height: 24px;
    background-color: #eeeeee;
}
#results .score {
    text-align: right;
}

@media (max-width: 980px) {
    #wrap {
        width: calc(100% - 20px);
    }
    #teams-list dd,
    #results {
        width: 100%;
        min-width: 100px;
    }
    #vote-form .deformMappingFieldset .description {
        float: none;
        width: 100%;
    }
    #vote-form .deform label.desc {
        float: none;
    }
    .deform ul.deformSet {
        margin-left: 0;
        clear: left;
    }
    #vote-form #item-deformField14 {
        width: 100%;
    }
}

@media (max-width: 500px) {
    nav {
        float: none;
    }
    table.mceLayout {
        width: 100% !important;
    }
}

